@import '~bootstrap/scss/bootstrap';

body {
  background-image: url('public/Mario-background.jpeg');
  background-size: cover;
  clear: both;
  margin: auto;
  margin-bottom: 100px;
  text-align: center;
}

footer {
  bottom: 0;
  color: white;
  padding: 20px;
  position: fixed;
  width: 100%;
}

header {
  padding: 20px 0 40px;
}

#change-password {
  display: none;
}

#game { //want the gameBoard to be 3x3, center
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 600px;
}

#sign-out {
  display: none;
}

.box {
  background-image: url('public/Question_Block_NSMB.png');
  background-size: contain;
  flex: 0 0 33%;
  font-size: 80px;
  height: 200px;
  text-align: center;
}

.create-game { // create game button starts hidden
  display: none;
}
